body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-bottom.svg), url(/images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: 37rem 20rem, -20rem -30rem;
}